prune *
include LICENSE README.md pyproject.toml setup.py

graft src
graft tests
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.pyd
global-exclude .*
global-exclude *.c